/* write your carousel css in this file */

.carousel{
    width: 60%;
    height: 800px;
    border: 2px solid black;
}

.innercarousel{
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

.leftbutton, .rightbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.322);
    height: 100%;
    width: 10%;
}


#centerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

h1{
    font-size: 80px;
    background-color: white;
    padding: 16px;
    border-radius: 5px;
}
p{
    font-size: 34px;
    background-color: white;
    padding: 16px;
    border-radius: 5px;
}